<%= form_with(model: @student) do |f| %>






<div class="field">
  <label class="label">First Name</label>
  <div class="control">
    <%= f.text_field :firstname, class:'input' %>
  </div>
</div>

<div class="field">
  <label class="label">Last Name</label>
  <div class="control">
     <%= f.text_field :lastname, class:'input' %>
  </div>
</div>

<div class="field">
  <label class="label">Age</label>
  <div class="control">
  <%= f.number_field :age, class:'input' %>
  </div>
</div>

<div class="field">
  <label class="label">Highest Eduction</label>
  <div class="control">
    <%= f.text_field :educationPeak, class:'input' %>
  </div>
</div>

<%= f.submit %>

<%end%>