<div class="container">
<%= form_with(model: @student) do |f| %>

    <p><strong>First Name: </strong>
    <%= f.text_field :firstname, class:'input' %></p>


<p> <strong>Last Name:</strong>
     <%= f.text_field :lastname, class:'input' %>
</p>

<p> <strong>Age:</strong>
  <%= f.number_field :age, class:'input' %>
</p>



<p> <strong>Education:</strong>
    <%= f.text_field :educationPeak, class:'input' %>
</p> 

<%= f.submit %>

<%end%>
</div>