<h1>My Pamela Project</h1>

<div class='container'>
       
<h1 class="divhead"><%= link_to 'New student', new_student_path, class: 'head' %></h1>
 

<hr>
<ul>
<% @students.each do |s| %>

<p><strong>Name:</strong>  <%= s.firstname %> <%= s.lastname %></p> <br>
<p><strong>Age:</strong> <%= s.age %> </p><br>

<p><strong>Education:</strong> <%= s.educationPeak %> </p>
<%= link_to 'Edit Info', edit_student_path(s) %> <%= link_to 'Delete', student_path(s) , method: :delete%>
<%= link_to 'Show Info', student_path(s) %>


<% end %>
</ul>

</div>

