<div class="container">
<h2>sign up a student</h2>
<hr>
<%= form_with(model: @student) do |f| %>






  <p> <strong>First Name:</strong>
    <%= f.text_field :firstname, class:'input' %></p>


<p><strong>Last Name:</strong>
     <%= f.text_field :lastname, class:'input' %> </p>
 


 <p><strong>Age:</strong>
  <%= f.number_field :age, class:'input' %></p>
 


  <p> <strong>Education: </strong>
    <%= f.text_field :educationPeak, class:'input' %></p>
 
<button>
<%= f.submit %></button>

<%end%>
</div>