<div class='container'>
<%= link_to 'Create Instructor', new_instructor_path, class:'link' %>

<h1 class='h1'> <strong>List Of Instructors</strong></h1>
<hr>

  <% @instructors.each do |instructor| %>
  <p><strong>Name: </strong>
  <%= instructor.firstname%> <%=instructor.lastname %> </p>
  <p><strong>Age: </strong>
  <%= instructor.age %> </p>
  <p>
  <strong>Salary: $</strong> <%= instructor.salary %> </p>
  <p>
  <strong>Education:</strong> <%= instructor.educationPeak %>
  </p>
  <%=   link_to 'Show Info', instructor_path(instructor),               class:'links'  %>
  <%=   link_to 'Edit Info', edit_instructor_path(instructor),          class:'links'  %>
  <%=   link_to 'Delete', instructor_path(instructor), method: :delete, class:'links'     %>
  <% end %>
</div>
