<div class='showcontainer'>
<h1 style="font-size:20px"> <strong> Full Instructor Info</h1></strong>
<div class='show'>
<p><strong>Name:</strong> <%= @instructor.firstname %> <%=@instructor.lastname %><br>
<strong>Age: </strong><%@instructor.age %> <br>
<strong>Salary:</strong>$<%= @instructor.salary %> <br>
<strong>Education:</strong> <%= @instructor.educationPeak %>
</p>

<%= link_to 'Back', instructors_path %>
</div>
</div>
